.Button {
    height: 48px;
    line-height: 48px;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 120px;
}

.Button_fullWidth {
    width: 100%;
}

.Button:hover {
    box-shadow: rgba(0, 0, 0, .1) inset 100px 100px;
}

.Button_color_primary {
    background-color: #2269a8;
    color: white;
}