.PageMessages__container {
    display: flex;
    width: 100%;
}

.PageMessages__sidebar {
    min-width: 280px;
}

.PageMessages__content {
    flex-grow: 10;
    padding-right: 32px;
}

.PageMessages__buttons {
    padding-bottom: 32px;
}