.TopMenu {
    background-color: #2269a8;
}

.TopMenu__link {
    display: inline-block;
    padding: 16px 16px;
    text-decoration: none;
    color: white;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-right: #2d5d88 1px solid;
}

.TopMenu__link:hover {
    color: orange;
    background-color: #1b619f;
}

.TopMenu__link:active {
    background-color: #0e3c65;

}