.Filters {
    background-color: rgba(27, 97, 159, 0.15);
    box-sizing: border-box;
    padding: 16px;
    border-radius: 8px;
}

.Filters__section {
    padding-bottom: 30px;
}

.Filters__title {
    color: #0e3c65;
    font-size: 14px;
}

.Filters__input {
    width: 100%;
    border-radius: 4px;
    height: 32px;
    padding: 5px;
    box-sizing: border-box;
    border: #6da4d5 1px solid;
}

.Filters__actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}